<div class="div-content-card">
  <ion-card class="card-login">
    <div class="content-form">
      <h1 class="title">Bienvenido</h1>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <br>
      <br>
      <ion-button class="btn-submit" expand="block" (click)="showAlert()">Continuar</ion-button>
      <br>
      <br>
    </div>
  </ion-card>
</div>